<div class="skeleton-container flex">
    <!-- 2D Live -->
    <ngx-skeleton-loader class="live2d"
      count="1" [theme]="{
        'border-radius': '8px',
        width: '100px',
        height: '50px',
        'background-color': '#99292950',
      }"
    ></ngx-skeleton-loader>

    <!-- Live 2D -->
    <ngx-skeleton-loader
      count="1" [theme]="{
        'border-radius': '8px',
        width: '100px',
        height: '50px',
        'background-color': '#99292950',
      }"
    ></ngx-skeleton-loader>

    <ngx-skeleton-loader
      count="1" [theme]="{
        'border-radius': '8px',
        height: '50px',
        'background-color': '#99292950',
      }"
    ></ngx-skeleton-loader>

    <ngx-skeleton-loader
      count="1" [theme]="{
        'border-radius': '8px',
        height: '50px',
        'background-color': '#99292950',
      }"
    ></ngx-skeleton-loader>

</div>
