.flex {
    display: flex;
    justify-content: center;
}

.skeleton-container {
    width: 475px;
    background-color: #111111cb;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    flex-direction: column;
    z-index: 1000;
}

ngx-skeleton-loader {
    display: block;
}

.live2d {
    margin: 0 auto;
}