<div class="header flex">
  <button (click)="navigateBack()"><i class="bx bx-arrow-back"></i></button>
  <h2>3D Results</h2>
</div>
<div class="container flex">
  <div *ngFor="let result of resultList" class="result-row flex">
    <ng-container *ngIf="isLoading; else threeList">
      <ngx-skeleton-loader
        count="2"
        [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            'margin-left': '10px',
            'margin-right': '10px',
            width: '130px',
            height: '42px',
            'background-color': '#111111cb',
          }"
      ></ngx-skeleton-loader>
    </ng-container>
    <ng-template #threeList>
      <h1>{{ result["datetime"] }}</h1>
      <h1>{{ result["result"] }}</h1>
    </ng-template>
  </div>
</div>
