.flex {
    display: flex;
}

.header {
    backdrop-filter: blur(7px);
    background-color: rgba(37, 36, 36, 0.849);
    width: 100%;
    max-width: 475px;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 300;
}
.header button {
    position: absolute;
    left: 1rem;
}
.header button i, .header h2 {
    font-size: var(--size-3xl);
}
.header h2 {
    text-align: center;
}

.container {
    backdrop-filter: blur(7px);
    max-width: 475px;
    height: auto;
    min-height: 100vh;
    background-color: #00000070;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-direction: column;
    gap: 1.6rem;
}

/* Looped rows */
.result-row {
    background-color: #303030d8;
    height: 60px;
    border: 1px solid #ffffff2a;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    margin: 0 1.5rem;
}

