:root {
  /* colors */
  --clr-dark: #020617;
  --clr-light: #e2e8f0;
  --clr-slate400: #94a3b8;
  --clr-violet: rgba(13, 2, 27, 0.678);
  --clr-rose: #e11d48;
  --clr-sun: #ffda23;
  /* rose #e11d48 */
  /* sun #fde047 */

  /* sizes */
  --size-sm: .875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .4s;
}

html {
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  background-image: url('./assets/img/bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-slate400);
  outline: 1px solid slategrey;
}

/* utilities */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */