<!-- NAV BAR -->
<div class="nav flex">
  <div class="brand flex">
    <img src="../../assets/img/wmlogo.png" alt="" />
    <h2>aung</h2>
  </div>
  <div class="txt flex">
    <ng-container *ngIf="isLoading; else live2d">
      <ngx-skeleton-loader
        class="live2d skeleton"
        count="1"
        [theme]="{
        'border-radius': '8px',
        'margin-top': '16px',
        width: '100px',
        height: '50px',
        'background-color': '#111111cb',
      }"
      ></ngx-skeleton-loader
    ></ng-container>
    <ng-template #live2d>
      <h1>2DLive</h1>
      <i class="bx bxs-circle bx-flashing" style="color: #ff0000"></i>
    </ng-template>
  </div>
  <button class="menu flex" onclick="mobile_menu.showModal()">
    <i class="bx bx-menu"></i>
  </button>
</div>

<div class="mybody">
  <!-- MOBILE POP-UP MENU -->
  <dialog id="mobile_menu">
    <ul class="mobile-menu__items flex">
      <li>
        <!-- <img src="../../assets/img/computer.png" alt="" width="30px"> -->
        <a routerLink="/history2d">2D History</a>
      </li>
      <li>
        <!-- <img src="../../assets/img/calendar.png" alt="" width="30px" /> -->
        <a routerLink="/result3d">3D Results</a>
      </li>
      <li>
        <a routerLink="/setholidays">Holidays</a>
      </li>
      <li class="mobile-menu__line"></li>
      <li class="mobile-menu__close">
        <button onclick="mobile_menu.close()">
          <i class="bx bx-x-circle x-icon"></i>
        </button>
      </li>
    </ul>
  </dialog>

  <!-- LIVE CONTENT -->
  <div class="content">
    <div class="top-content flex">
      <div class="result flex">
        <ng-container *ngIf="isLoading; else bigtwoD">
          <ngx-skeleton-loader
            class="live2d skeleton"
            count="1"
            [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            width: '170px',
            height: '132px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader
        ></ng-container>
        <ng-template #bigtwoD>
          <h1 class="bx-flashing big-two-digits">{{ displayDigit }}</h1>
          <i
            class="bx bxs-badge-check"
            [style.display]="isBadgeVisible ? 'block' : 'none'"
          ></i>
        </ng-template>
      </div>
      <div class="date-time flex">
        <ng-container *ngIf="isLoading; else livetime">
          <ngx-skeleton-loader
            count="2"
            [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            width: '190px',
            height: '50px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader
        ></ng-container>
        <ng-template #livetime>
          <h3>{{ currentDateTime | date : "h:mm:ss a" }}</h3>
          <h3>{{ currentDateTime | date : "d/MM/yyyy" }}</h3>
        </ng-template>
      </div>
    </div>
    <div class="bot-content flex">
      <ng-container *ngIf="isLoading; else livesetvalue">
        <ngx-skeleton-loader
          count="1"
          [theme]="{
          'border-radius': '8px',
          'margin-top': '16px',
          width: '180px',
          height: '35px',
          'background-color': '#111111cb',
        }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          count="1"
          [theme]="{
          'border-radius': '8px',
          'margin-top': '16px',
          width: '180px',
          height: '35px',
          'background-color': '#111111cb',
        }"
        ></ngx-skeleton-loader>
      </ng-container>
      <ng-template #livesetvalue>
        <h4>Set: {{ liveSet }}</h4>
        <h4>Value: {{ liveValue }}</h4>
      </ng-template>
    </div>
  </div>

  <!-- TODAY'S DATA -->
  <div class="history">
    <div class="am row">
      <h2>12:01 PM</h2>
      <div class="two-results flex">
        <ng-container *ngIf="isLoading; else morning">
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            width: '120px',
            height: '35px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            width: '120px',
            height: '35px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            width: '120px',
            height: '35px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
        </ng-container>
        <ng-template #morning>
          <div class="set flex">
            <h3>Set</h3>
            <p>{{ pm12set }}</p>
          </div>
          <div class="value flex">
            <h3>Value</h3>
            <p>{{ pm12value }}</p>
          </div>
          <div class="twod flex">
            <h3>2D</h3>
            <p>{{ pm12digit }}</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="pm row">
      <h2>4:30 PM</h2>
      <div class="two-results flex">
        <ng-container *ngIf="isLoading; else evening">
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            width: '120px',
            height: '35px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            width: '120px',
            height: '35px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            'margin-top': '16px',
            width: '120px',
            height: '35px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
        </ng-container>
        <ng-template #evening>
          <div class="set flex">
            <h3>Set</h3>
            <p>{{ pm430set }}</p>
          </div>
          <div class="value flex">
            <h3>Value</h3>
            <p>{{ pm430value }}</p>
          </div>
          <div class="twod flex">
            <h3>2D</h3>
            <p>{{ pm430digit }}</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- MODERN DATA -->
  <div class="modern flex">
    <div class="modern__am flex">
      <div class="modern__time">
        <h2>11:00 AM</h2>
      </div>
      <div class="modern__data flex">
        <ng-container *ngIf="isLoading; else modernmorning">
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            width: '100px',
            height: '18px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            width: '100px',
            height: '18px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            width: '100px',
            height: '18px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
        </ng-container>
        <ng-template #modernmorning>
          <div class="modern__twod flex">
            <h3>2D</h3>
            <p>{{ am11digit }}</p>
          </div>
          <div class="modern__set flex">
            <h3>Set</h3>
            <p>{{ am11set }}</p>
          </div>
          <div class="modern__value flex">
            <h3>Value</h3>
            <p>{{ am11value }}</p>
          </div>
        </ng-template>
      </div>
    </div>
    <hr />
    <div class="modern__pm flex">
      <div class="modern__time">
        <h2>3:00 PM</h2>
      </div>
      <div class="modern__data flex">
        <ng-container *ngIf="isLoading; else modernevening">
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            width: '100px',
            height: '18px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            width: '100px',
            height: '18px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
            'border-radius': '8px',
            width: '100px',
            height: '18px',
            'background-color': '#111111cb',
          }"
          ></ngx-skeleton-loader>
        </ng-container>
        <ng-template #modernevening>
          <div class="modern__twod flex">
            <h3>2D</h3>
            <p>{{ pm3digit }}</p>
          </div>
          <div class="modern__set flex">
            <h3>Set</h3>
            <p>{{ pm3set }}</p>
          </div>
          <div class="modern__value flex">
            <h3>Value</h3>
            <p>{{ pm3value }}</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer>
    <p>~ WM © 2024 ~</p>
  </footer>
</div>
