.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .6;
    z-index: -1;
}

.flex {
    display: flex;
    align-items: center;
}

.mybody {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.mybody .nav {
    background-color: rgba(37, 36, 36, 0.61);
    justify-content: space-between;
    padding: .2rem .5rem;
    border-bottom: 1px solid #ffffff33;
}
.mybody .nav .brand {
    width: 40px;
}
.mybody .nav .brand img {
    width: 100%;
    aspect-ratio: 1/1;
}
.mybody .nav .txt {
    gap: .2rem;
}
.mybody .nav .menu {
    font-size: var(--size-3xl);
    /* border: 1px solid green; */
}

.mybody .content {
    background-color: rgba(34, 34, 34, 0.788);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.274);
    width: 90%;
    margin: 1rem auto 2rem;
    border-radius: 1rem;
}
/* top part of the live content */
.mybody .content .top-content {
    justify-content: space-around;
    /* height: 300px; */
}
.mybody .content .top-content .result {
    justify-content: center;
    position: relative;
    /* background-color: rgba(240, 248, 255, 0.479); */
    /* width: 11rem; */
    flex: 1;
}
.mybody .content .top-content .result h1 {
    text-align: center;
    font-size: 9rem;
}
.mybody .content .top-content .result i {
    position: absolute;
    top: 1rem;
    right: 0;
    font-size: 3rem;
    color: rgba(54, 233, 54, 0.822);
    display: block;
}
.mybody .content .top-content .date-time {
    /* background-color: rgba(58, 155, 240, 0.747); */
    /* width: 11rem; */
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mybody .content .top-content .date-time h3 {
    /* text-align: right; */
    font-size: var(--size-4xl);
}

/* bottom part of the live content */
.mybody .content .bot-content {
    background-color: rgba(155, 155, 155, 0.199);
    border-radius: 0 0 .8rem .8rem;
    justify-content: space-evenly;
    height: 50px;
}
.mybody .content .bot-content h4 {
    font-size: var(--size-2xl);
}

/* HISTORY RESULTS */
.history h2, p {
    text-align: center;
    font-size: var(--size-3xl);
    color: var(--clr-slate400);
}

.history .row {
    background-color: var(--clr-violet);
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: .5rem;
    width: 90%;
    padding: .5rem 0 1rem 0;
    margin: 4rem auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.705);
}

.history .two-results {
    justify-content: space-around;
    border-top: 1px solid rgba(255, 255, 255, 0.452);
    padding-top: .5rem;
}
.history .two-results .set, .value, .twod {
    flex-direction: column;
}
.history .two-results h3 {
    opacity: .8;
}

/* xs */
@media (min-width: 475px) {
    .mybody {
        width: 475px;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */